
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.background_image {
    position:absolute;
    width: 100%;
    min-height: 100vh;
    background-image: url("./background.png");
    background-size: cover;
    filter: blur(2px);
}


